*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Josefin;
    src: url(https://fonts.google.com/specimen/Josefin+Sans);
}
body{
    font-size: 16px;
    font-family: Josefin,sans-serif;
}
main{
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   padding: 20px;
   
}
.logo{
    
    padding: 20px 0px;
}
main .left-container{
   order: 3;
    background:url(images/bg-pattern-desktop.svg);
    padding: 20px 0px;
}
main .left-container h1{
    color:  hsl(0, 6%, 24%);
    font-size: 3rem;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
main .left-container p{
    color: hsl(0, 36%, 70%);
        text-align: center;
        width: 80%;
        margin: 0px auto;
        line-height: 25px;
        font-size: 16px;
        margin-bottom: 15px;
}
main .left-container h1 b{
    color: hsl(0, 36%, 70%);
}
main .left-container form{
    width: 80%;
    margin: 0px auto;
    display: flex;
    position: relative;
}
main .left-container form input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid hsl(0, 36%, 70%);
    padding-left: 20px;
    color: hsl(0, 36%, 70%);
    outline: none;
}
main .left-container form button{
    position: absolute;
    width: 60px;
    height:40px;
    border-radius: 25px;
    right: 0px;
    background:hsl(0, 93%, 68%) ;
    border: none;
    box-shadow: 1px 1px 8px 0 hsla(0, 36%, 70%, 0.664);
    cursor: pointer;
}
main .left-container form button:hover{
    background-color:hsl(0, 74%, 74%);
}
main .left-container form button span{
    content: url(images/icon-arrow.svg);
}
main .left-container .logo-desk{
    display: none;
}
main .right-container{
    width: 100%;
    
}
main .right-container .hero{
    width: 100%;
    content: url(images/hero-mobile.jpg);
}

@media (min-width:768px){
    main{
        flex-direction: row-reverse;
        justify-content: center;
    }
    main .left-container{
        margin: 0px auto;
        padding: 25px 50px;
        text-align: left;
        flex: 1;
    }
    .logo{
        display: none;
    }
   main .left-container .logo-desk{
        display: block;
        padding: 20px;
       margin-bottom: 20px;
    }
    main .left-container h1{
        text-align: left;
        padding: 20px 0px;
        font-size: 4.5rem;
    }
    main .left-container p{
        text-align: left;
        margin-bottom: 20px;
        width: 80%;
    }
    main .right-container{
       margin-top: -20px;
        height: 100vh;
        flex:1;
    
    }
    main .right-container .hero{
       content: url(images/hero-desktop.jpg);
        height: 100%;
    }
}